body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.add-option-button {
    display: inline-block;
    margin: 10px 0 20px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.add-option-button:hover {
    background-color: #0056b3;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.option {
    border: 1.4px solid #007BFF;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 200px;
}

.option p {
    font-size: 16px;
    margin: 0;
    color: #555;
}

.add-participant-button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #58c084;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.add-participant-button:hover {
    background-color: #46a76d;
}

.participant {
    border: 1.4px solid #58c084;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 200px;
}

.participant p {
    font-size: 16px;
    margin: 0;
    color: #555;
}