<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
    <title>What's Your Fifty</title>
</head>
<body>
    <h1>What's Your Fifty</h1>

    <h2>Options</h2>
    {% if options %}
        <button onclick="clearAllOptions()" class="clear-all-button">Clear All</button>
    {% else %}
        <p>No options available. Please add some.</p>
    {% endif %}
    {% for option in options %}
        <div class="option">
            <p>Option {{ loop.index }} : {{ option.name }}</p>
        </div>
    {% endfor %}
    <a href="{{ url_for('add_option') }}" class="add-option-button">Add Option</a>

    <h2>Participants</h2>
    {% if participants %}
        <button onclick="clearAllParticipants()" class="clear-all-button">Clear All</button>
    {% else %}
        <p>No participants available. Please add some.</p>
    {% endif %}
    {% for participant in participants %}
        <div class="participant">
            <p>Participant {{ loop.index }} : {{ participant.name }}</p>
        </div>
    {% endfor %}
    <a href="{{ url_for('add_participant') }}" class="add-participant-button">Add Participant</a>

    <div>
        <a href="{{ url_for('start_choices') }}" class="start-choices-button">Start choices</a>
    </div>
</body>
</html>