<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>What's Your Fifty</title>
    <style>
        
    </style>
</head>
<body>
    <h1>What's Your Fifty</h1>
    <a href="#" class="button">Add Option</a>
    <a href="#" class="button">Add Participant</a>
    <h2>Functions</h2>
    <ul>
        <li>Function 1: Description of function 1</li>
        <li>Function 2: Description of function 2</li>
        <li>Function 3: Description of function 3</li>
        <li>Function 4: